header{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #bfbfbf;
  border-bottom: solid black 1px;
  box-shadow: 1px 1px 10px;
}
body{
  background-color: #6666CC; /* Le violet */
}
footer{
    background-color: #bfbfbf; /* Le gris */
    border-top: groove gray 5px;
    position: fixed;/*fixer le footer en bas de page*/
    bottom: 0;
    left: 0;
    right: 0;
}
.img-profil{ /* Image utilisateur dans le header */
  width: 3em;
  border: ridge grey 1px;
  border: 1em 1em 1em black;
  box-shadow: 1px 1px 20px white;
}
.lien-page-accueil{ /* div "Déconnexion" + img profil */
    margin-right: 0;
}

/* A TESTER POUR LE RESPONSIVE SUR ECRAN PC */
/*Les amis sont affichés en colonne au centre de la page
.contener-people{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  padding: 20px;
}
*/

.esp-perso{ /* Bandeau "Espace personnel" */
    padding: 0.02em;
    margin-bottom: 1em;
    border-bottom:  solid white 1px;
    box-shadow: 0px 5px 10px white;
    border-radius: 10em;
    background-color: #124BCC; /* Le bleu foncé */
    color: white;
    text-shadow: 2px 1px 4px black;
}
.esp-perso:hover{
    background-color: #061946;
    border-bottom:  solid white 1px;
    box-shadow: 0px 10px 10px white;
    color: #bfbfbf;
    text-shadow: 1px 1px 1px white;
}

.ban-messagerie{ /* Bandeau "Messagerie" */
    margin-bottom: 2em;
    padding: 0.02em;
    border-bottom: solid white 1px;
    box-shadow: 0px 5px 10px white;
    border-radius: 10em;
    background-color: #00ffff;
    color: white;
    text-shadow: 2px 1px 4px black;
}
.ban-messagerie:hover{
    background-color: #006666;
    border-bottom:  solid white 1px;
    box-shadow: 0px 10px 10px white;
    color: #bfbfbf;
    text-shadow: 1px 1px 1px white;
  }

.ban-amis{ /* Bandeau "Amis" */
    margin-bottom: 2em;
    padding: 0.02em;
    border-bottom: solid white 1px;
    box-shadow: 0px 5px 10px white;
    border-radius: 10em;
    background-color: #33ccff; /* Le bleu clair */
    color: white;
    text-shadow: 2px 1px 4px black;
}
.ban-amis:hover{
    background-color: #007399;
    border-bottom:  solid white 1px;
    box-shadow: 0px 10px 10px white;
    color: #bfbfbf;
    text-shadow: 1px 1px 1px white;
}

.ban-parametre{ /* Bandeau "Paramètres" */
    margin-bottom: 2em;
    padding: 0.02em;
    border-bottom: solid white 1px;
    box-shadow: 0px 5px 10px white;
    border-radius: 10em;
    background-color: #0080ff;
    color: white;
    text-shadow: 2px 1px 4px black;
}
.ban-parametre:hover{
  background-color: #003366;
  border-bottom:  solid white 1px;
  box-shadow: 0px 10px 10px white;
  color: #bfbfbf;
  text-shadow: 1px 1px 1px white;
}

 .un-parametre{
   margin-bottom: 0.5em;
   margin-left: 5em;
   margin-right: 5em;
   padding: 0.02em;
   border-bottom: solid white 1px;
   border-radius: 10em;
   background-color: gray;
   color: white;
   text-shadow: 2px 1px 4px black;
 }

.ban-black-list{ /* Bandeau Black List */
    margin-bottom: 2em;
    padding: 0.02em;
    border-bottom: solid white 1px;
    box-shadow: 0px 5px 10px white;
    border-radius: 10em;
    background-color: black;
    color: white;
    text-shadow: 2px 1px 4px gray;
}
.b-l{  /* b-l = black list*/
    background-color: black;
}
.b-l:hover{
    background-color: rgba(241, 1, 0, 1);
    color: black;
    box-shadow: 3px 3px 10px black;
}
.l-a:hover{
    box-shadow: 3px 3px 10px white;
    }  /* l-m = liste amis */

.one-people{ /* Une div pour un Ami */
  margin: 10px;
  padding: 10px;
}

.row{ /* Centrer le texte dans chaque ligne de la grille */
    text-align: center;
}

.sos-button{
  color:red;
  height: 2.5em;
  width: 5em;
  font-size: 5em;
}
